[Desktop Entry]
Name=Evolution Calendar conduit
Name[sl]=Evolucijin veznik koledarja
Name[da]=Gnome kalender
Name[es]=Enlace con el calendario de Evolution
Name[fr]=Conduit Calendrier
Name[no]=GNOME kalender
Name[sv]=Kalenderkanal
Name[tr]=Takvim parçasý
Comment=Configure the GnomeCal conduit
Comment[sl]=Nastavi veznik GnomeKoledarja
Comment[da]=Konfigurér GnomeCal-komponent
Comment[es]=Configurar el enlace con GnomeCal
Comment[fr]=Configuration du conduit calendrier
Comment[no]=Konfigurér GnomeCal-komponent
Comment[sv]=Konfigurera GnomeCal-kanalen
Comment[tr]=GnomeCal takvim parçasý ayarlarý
Exec=e-calendar-conduit-control-applet --cap-id=1
Terminal=0
Type=Application
Icon=gnome-calendar-conduit.png
