[Desktop Entry]
Name=Evolution ToDo conduit 
Name[da]=Udstående
Name[no]=Oppgaver
Name[sv]=Att göra-lista
Name[tr]=Yapýlacaklar parçasý
Comment=Configure the todo conduit
Comment[da]=Konfigurér Udstående
Comment[no]=Konfigurér oppgavelisten
Comment[sv]=Konfigurerar att göra-listan
Comment[tr]=Yapýlacaklar parçasý ayarlarý
Exec=e-todo-conduit-control-applet --cap-id=1
Terminal=0
Type=Application
