[Desktop Entry]
Name=Todo conduit 
Name[da]=Udstående
Name[no]=Oppgaver
Name[tr]=Yapýlacaklar parçasý
Comment=Configure the todo conduit
Comment[da]=Konfigurér Udstående
Comment[no]=Konfigurér oppgavelisten
Comment[tr]=Yapýlacaklar parçasý ayarlarý
Exec=todo-conduit-control-applet --cap-id=1
Terminal=0
Type=Application
