[Desktop Entry]
Name=Todo conduit 
Name[da]=Udstående
Name[no]=Oppgaver
Comment=Configure the todo conduit
Comment[da]=Konfigurér Udstående
Comment[no]=Konfigurér oppgavelisten
Exec=todo-conduit-control-applet --cap-id=1
Terminal=0
Type=Application
