Makefile.in
Makefile.in.in
m4/*
configure
ABOUT-NLS
aclocal.m4
autom4te.cache/
compile
config.guess
config.h.in
config.log
config.rpath
config.sub
depcomp
gnome-doc-utils.make
gtk-doc.make
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
ltmain.sh
missing
mkinstalldirs
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
*~
