[Desktop Entry]
Name=Evolution
Name[sl]=Evolucija
Name[tr]=Evolution
Comment=The Evolution groupware suite
Comment[sl]=Programje za delo v skupini Evolucija
Comment[tr]=Evolution kitlesel iþlemler uygulamasý
Exec=evolution
Icon=evolution.png
Terminal=0
Type=Application
