[Desktop Entry]
Name=Evolution
Name[fr]=Evolution
Name[it]=Evolution
Name[sl]=Evolucija
Name[sv]=Evolution
Name[tr]=Evolution
Comment=The Evolution groupware suite
Comment[fr]=La suite de travail collaboratif Evolution
Comment[it]=La suite di produttivita' personale Evolution
Comment[sl]=Programje za delo v skupini Evolucija
Comment[sv]=Grupprogramvaran Evolution
Comment[tr]=Evolution kitlesel iþlemler uygulamasý
Exec=evolution
Icon=evolution.png
Terminal=0
Type=Application
