[Desktop Entry]
Name=Calendar
Name[es]=Calendario
Name[fr]=Calendrier
Name[de]=Kalender
Comment=Calendar application
Comment[fr]=Calendrier Gnome
Comment[de]=Gnome Kalender
Exec=gnomecal
Icon=
Terminal=0
Type=Application
