
	Here is how both the Evolution implementation and IDL namespacing
is to be organized, NB. for implementations and oafinfo filenames we replace
'/' with '_'

Files:

/GNOME/Evolution/

	Addressbook/
	Calendar/
		Control
		gnomecal
	Composer/
	Mail/
	Notes/		
	Shell/
	Summary/
		test
		rdf
	Wombat/

Components:

	Shell components end in _ShellComponent, controls in _Control,
executive summary components in _ExecutiveSummaryComponent and
factories append 'Factory'.

GNOME/
	Evolution/

		Shell

		Addressbook/
			MiniCard/
				Control, ControlFactory
			SelectNames, SelectNamesFactory
			Control, ControlFactory
			ShellComponent, ShellComponentFactory
		Calendar/		
			iTip/
				Control, ControlFactory
			Control, ControlFactory
			ShellComponent, ShellComponentFactory
			ExecutiveSummaryComponent, ExecutiveSummaryComponentFactory
		Mail/
			Control, ControlFactory
			ShellComponent, ShellComponentFactory
			ExecutiveSummaryComponent, ExecutiveSummaryComponentFactory
			Composer, ComposerFactory
		Notes/
			control, controlFactory
			shellComponent, shellComponentFactory
		Summary/
			rdf/
				SummaryComponent, SummaryComponentFactory
			test/
				Component, ComponentFactory

			ShellComponent, ShellComponentFactory

		Wombat/
			ServerFactory
			CalendarFactory

