[Desktop Entry]
Name=Evolution
Name[sl]=Evolucija
Name[da]=Evolution
Name[lt]=Evolution
Name[no]=Evolution
Name[ru]=ü×ÏÌÀÃÉÑ
Name[tr]=Evolution
Comment=Mail, Contacts and Task.
Comment[sl]=Po¹ta, stiki in naloge.
Comment[da]=E-post, kontakter og opgaver.
Comment[lt]=El. pağtas, adresai ir uşduotys
Comment[no]=E-post, kontakter og oppgaver.
Comment[ru]=üÌ.ĞÏŞÔÁ, ËÏÎÔÁËÔÙ É ÚÁÄÁÎÉÑ.
Comment[tr]=ePosta, tanık ve görevler
Exec=evolution
Terminal=0
Type=Application
