[Desktop Entry]
Name=Evolution
Name[no]=Evolution
Name[ru]=Эволюция
Comment=Mail, Contacts and Task.
Comment[no]=E-post, kontakter og oppgaver.
Comment[ru]=Эл.почта, контакты и задания.
Exec=evolution
Terminal=0
Type=Application
