[Desktop Entry]
Name=Evolution Address conduit 
Name[sl]=Evolucijin veznik naslovov
Name[da]=Udstående
Name[es]=Enlace del libro de direcciones de Evolution
Name[fr]=Conduit Adresses
Name[no]=Oppgaver
Name[sk]=Spojka adresára Evolution
Name[sv]=Adresser
Name[tr]=Adres parçasý
Comment=Configure the address conduit
Comment[sl]=Nastavi veznik naslovov
Comment[da]=Konfigurér Udstående
Comment[es]=Configura el enlace del libro de direcciones
Comment[fr]=Configuration du conduit Adresses
Comment[no]=Konfigurér oppgavelisten
Comment[sk]=Nastavenie spojky adresára
Comment[sv]=Konfigurera adresskanalen
Comment[tr]=Adres parçasýnýn ayarlarý
Exec=e-address-conduit-control-applet --cap-id=1
Terminal=0
Type=Application
