[Desktop Entry]
Name=GnomeCalendar
Name[da]=Gnome kalender
Comment=Configure the GnomeCal conduit
Comment[da]=Konfigurér GnomeCal-komponent
Exec=calendar-conduit-control-applet --cap-id=1
Terminal=0
Type=Application
Icon=gnome-calendar-conduit.png
