[Desktop Entry]
Name=Calendar
Name[da]=Kalender
Name[de]=Kalender
Name[es]=Calendario
Name[fr]=Calendrier
Name[ko]=달력
Name[no]=Kalender
Name[pt]=Agenda
Comment=Calendar application
Comment[da]=Gnome Kalender
Comment[de]=Gnome Kalender
Comment[es]=Calendario de Gnome
Comment[fr]=Calendrier GNOME
Comment[ko]=그놈 달력
Comment[no]=Gnome Kalender
Comment[pt]=Agenda Gnome
Exec=gnomecal
Icon=gnome-calendar.png
Terminal=0
Type=Application
