[Desktop Entry]
Name=Calendar
Name[da]=Kalender
Name[de]=Kalender
Name[es]=Calendario
Name[fi]=Kalenteri
Name[fr]=Calendrier
Name[ko]=╢ч╥б
Name[no]=Kalender
Name[pt]=Agenda
Name[ru]=Календарь
Comment=Calendar application
Comment[da]=Gnome Kalender
Comment[de]=Gnome Kalender
Comment[es]=Calendario de Gnome
Comment[fi]=GNOME-kalenteri
Comment[fr]=Calendrier GNOME
Comment[ko]=╠вЁП ╢ч╥б
Comment[no]=Gnome Kalender
Comment[pt]=Agenda Gnome
Comment[ru]=Календарь Gnome
Exec=gnomecal
Icon=gnome-calendar.png
Terminal=0
Type=Application
