[Desktop Entry]
Name=Calendar
Name[da]=Kalender
Name[de]=Kalender
Name[el]=Çìåñïëüãéï
Name[es]=Calendario
Name[et]=Kalender
Name[fi]=Kalenteri
Name[fr]=Calendrier
Name[ja]=¥«¥ì¥ó¥À¡¼
Name[ko]=´Ş·Â
Name[no]=Kalender
Name[pt]=Agenda
Name[pt_BR]=Calendário
Name[ru]=ëÁÌÅÎÄÁÒØ
Name[sv]=Kalender
Comment=Calendar application
Comment[da]=Gnome Kalender
Comment[de]=Gnome Kalender
Comment[el]=Çìåñïëüãéï ôïõ Gnome
Comment[es]=Calendario de Gnome
Comment[et]=GNOME kalender
Comment[fi]=GNOME-kalenteri
Comment[fr]=Calendrier GNOME
Comment[ja]=GNOME¥«¥ì¥ó¥À¡¼
Comment[ko]=±×³ğ ´Ş·Â
Comment[no]=Gnome Kalender
Comment[pt]=Agenda Gnome
Comment[pt_BR]=Calendário GNOME
Comment[ru]=ëÁÌÅÎÄÁÒØ Gnome
Comment[sv]=Gnome-kalender
Exec=gnomecal
Icon=gnome-calendar.png
Terminal=0
Type=Application
